/* Custom Scrollbar */
.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #CED7D9; 
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #93D1BE; 
}

